<style type="text/css">
    #myDiv ul {
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap; /* 不斷行 */
    }

        #myDiv ul li {
            margin: -2.5px;
            display: inline; /* 水平排列 */
        }

            #myDiv ul li a {
                vertical-align: top;
                background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
                display: inline-block; /* 水平內顯示為區塊 */
                padding: 15px 7px;
                color: #B97;
                text-decoration: none;
                font-size: 18px;
                line-height: 21px;
                margin-right: 0;
                margin-left: 0;
            }

                #myDiv ul li a:hover {
                    color: #FFF;
                }
</style>
<link href="~/Content/Hover.css" rel="stylesheet" media="screen" />
<div id="myDiv">
    <ul>
        @using MaxiMvc5.Models;
        @if (PageData.Count() > 0)
        {
            using (var db = new MVC())
            {
                var x = (string)PageData.First().Value;
                var li = db.tUrl.FirstOrDefault(s => s.cFolder == x && (s.cUpId == null || s.cUpId == 0) && s.cEnable);
                if (li != null)
                {
                    foreach (var i in li.tUrl1.OrderBy(s => s.cSort))
                    {
                        <li><a class="button hover-shadow" href="@Url.Action(i.cPage, i.cFolder)">@i.cName</a></li>
                    }
                }
            }
        }
    </ul>
</div>