@{
    ViewBag.Title = "";
}
<div id="coming-soon" class="coming-soon">
    <div class="container">
        <div class="row">
            <div class="col-md-12 shadow">
                <div class="site-title">
                    <h1>Moto Story</h1>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 shadow">
                <div class="site-lead">
                    <p>Want to find a future, there are plans, there are quantifiable record of life, for me it is important numbers, or bits and pieces of the process. In addition, the website where the Chinese font ugly ... had to use English to maintain the beauty of the page.</p>
                    <p>Do not ask why I called "locomotive Story"?</p>
                    <p>Because you can not ask me, "Why?" Haha...</p>
                </div>
            </div>
            <div class="col-md-12">
                <div id="countdown"></div>
            </div>
            <div class="col-md-12" id="btnway">
                <p>
                    <a class="scroll-down" href="javascript:"><i class="fa fa-angle-double-down"></i></a>
                </p>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- #coming-soon -->
<div id="contact" style="display:none;">
    <div class="section light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>DO NOT Give Me Any Feedback</h2>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .section light -->
    <input type="hidden" id="hidp" />
    <div class="section gmap">
        <div class="subscribe wow fadeInUp animated">
            <div class="container">
                <div class="row">
                    @using (Html.BeginForm("Index", "Way", FormMethod.Post, new Dictionary<string, object>() { { "class", "sb-form" }, { "role", "form" }, { "name", ".ASPXAUTH" } }))
                    {
                        <div class="form-group">
                            <label class="sr-only" for="Declare">Declare</label>
                            @Html.Password("p", "", new Dictionary<string, object>() { { "id", "p" }, { "class", "form-control" }, { "placeholder", "Password" } })
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    }
                </div>
            </div>
        </div>
    </div><!-- .section gmap -->
</div>
@using MaxiMvc5.Models;
@if (!string.IsNullOrWhiteSpace(csWay.CurrentUserName))
{
    @section scripts {
        <script>
            $(function () {
                $("#btnway").click(function () {
                    window.location.href = "/Way/Way";
                });
            });
        </script>
    }
}
else
{
    @section scripts {
        <script>
            $(function () {
                $("#btnway").click(function () {
                    $("#contact").fadeIn(2000, function () { $("#p").focus(); });
                    $("html, body").animate({ scrollTop: $(document).height() }, 3000);
                });
            });
        </script>
    }
}