@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/icon.ico" rel="shortcut icon" />
    <title>@ViewBag.Title Moto Sotry</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/Tyumen/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/Tyumen/style.css" rel="stylesheet" media="screen">
    <meta name="description" content="Want to find a future, there are plans, there are quantifiable record of life, for me it is important numbers, or bits and pieces of the process. In addition, the website where the Chinese font ugly ... had to use English to maintain the beauty of the page." />
</head>
<body>
    <br />
    <div class="wrapper" style="display:normal; text-align:center;">
        <h3>不支援 IE 8.0 (含)以下的版本<br />請升級到較新版本的IE、Mozilla Firefox、Google Chrome 或 Opera Software，進行瀏覽！</h3>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© Copy Right Maximus Chang</p>
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .footer -->
    </div><!-- .wrapper -->
</body>
</html>